config USR_LIB_MASSSTORAGE
  bool  "userspace libmassstorage for USB stack"
  default y
  select USR_DRV_SDIO
  select USR_DRV_USB
  ---help---
  Support for Mass-Storage class feature for USB stack.
config USR_LIB_MASSSTORAGE_CFLAGS
  string
  default " -I../../libs/massstorage/api " if USR_LIB_MASSSTORAGE


